---
layout: default
title: Blogs
permalink: /
---


<style>
  .home_title  a  { 
    padding: 5px;
    font-size: 16px;
  }
</style>
<div class="home">
  <h2> Latest Blogs <h2>
  {% assign reversed_posts = site.publications | reverse %}
  {% for post in reversed_posts %}
      <p class="home_title"><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></p>
  {% endfor %}
</div>

<div class="home">
  <h2> Latest Poems <h2>
  {% assign reversed_posts = site.poetry | reverse %}
  {% for poem in reversed_posts %}
      <p class="home_title"><a href="{{ site.baseurl }}{{ poem.url }}">{{ poem.title }}</a></p>
  {% endfor %}
</div>

<div class="home">
  <h2> Latest Stories </h2>
  {% assign reversed_posts = site.story | reverse %}
  {% for story in reversed_posts %}
    {% if story.chapter == null %}
      <p class="home_title"><a href="{{ site.baseurl }}{{ story.url }}">{{ story.title }}</a></p>
    {% endif %}
  {% endfor %}
</div>