---
layout: page
---

<style>
.background {
  background-image: url('{{ page.image }}');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: black; /* Text color on top of the image */
  text-align: center;
  padding-top: 20%; /* Adjust the padding as a percentage of the viewport height */
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 2%; /* Adjust the padding as needed */
}

.title {
  font-size: 3vw; /* Adjust the font size using viewport units */
  font-weight: 500;
  background-color: rgba(255, 255, 255, 0.8);
}

.chapter {
  font-size: 1.5vw; /* Adjust the font size using viewport units */
  background-color: rgba(255, 255, 255, 0.8);
}

.chapter-date {
  font-size: 1.5vw; /* Adjust the font size using viewport units */
  background-color: rgba(255, 255, 255, 0.8);
}
</style>

<article class="post">
    <div class="background">
        <div class="title">
          {{ page.title }}
        </div>
        <div class="chapter">
            {{ page.chapter }} 
        </div>
        <div class="chapter-date">
        Written on {{ page.date | date: "%B %e, %Y" }} | Written By: {{ page.author }}
        </div>
    </div>

  <div class="entry">
    {{ content }}
  </div>


  {% if site.giscus_repo != blank? %}
  <script src="https://giscus.app/client.js"
    data-repo="{{ site.giscus_repo }}"
    data-repo-id="{{ site.giscus_repo_id }}"
    data-category="{{ site.giscus_category }}"
    data-category-id="{{ site.giscus_category_id }}"
    data-mapping="pathname"
    data-strict="0"
    data-reactions-enabled="1"
    data-emit-metadata="0"
    data-input-position="bottom"
    data-theme="preferred_color_scheme"
    data-lang="en"
    data-loading="lazy"
    crossorigin="anonymous"
    async>
  </script>
{% endif %}
</article>
